<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MQTT_Event_Driven.appsetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <MQTT_Event_Driven.appsetting>
            <setting name="mqtt_broker" serializeAs="String">
                <value>25aee1926b284dfeb459111a517f7201.s2.eu.hivemq.cloud</value>
            </setting>
            <setting name="mqtt_user" serializeAs="String">
                <value>minigame_inf22_dhbw</value>
            </setting>
            <setting name="mqtt_password" serializeAs="String">
                <value>Or4Q9IkA0IPLBWpbupwr</value>
            </setting>
            <setting name="mqtt_port" serializeAs="String">
                <value>8883</value>
            </setting>
        </MQTT_Event_Driven.appsetting>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>